<%= provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <ul>
    <li><a href="mailto:me@stevearagon.io">me (at) stevearagon.io</a></li>
    <li><a href="http://www.instagram.com/newsteve">instagram: newsteve</a></li>
    <li><a href="http://www.twitter.com/the_new_steve">twitter: the_new_steve</a></li>
    <li><a href="http://www.github.com/stearagon">github: stearagon</a></li>
  </ul>
</p>
